/* GENERAL */

* {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    background-color: #F5EAF1;
}

header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav i {
    color: #333;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F5EAF1;
}